doctype html
html
  head
    title= title
    meta(charset="utf-8")
    base(href="/")

    link(rel='stylesheet', href='/lib/bootstrap.min.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    link(rel='stylesheet', href='/lib/LineChart.min.css')
    link(rel='stylesheet', href='/css/default.css')
  body(ng-app="steven" style="display:none")
    block content
    script(src="/lib/jquery.min.js")
    script(src="/lib/d3.min.js")
    script(src="/lib/moment.min.js")
    script(src="/lib/bootstrap.min.js")
    script(src="/lib/angular.min.js")
    script(src="/lib/ng-cookies.min.js")
    script(src="/lib/lazyload.min.js")
    script(src="/lib/ng-route.min.js")
    script(src="/js/init.js")

